.new-slide[prefix="_nsl-ke-31"] {
    width: 100%;
    height: 100%;
}

.new-slide-link[prefix="_nsl-ke-31"] {
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
    
.title[prefix="_nsl-ke-31"] > span {
  font-size: var(--md-sys-admin-main-page-slide-section-title-font-size);
  font-weight: var(--md-sys-admin-main-page-slide-section-title-font-weight);
}
