.home-icons[prefix="_homeIcons-mr-32"] {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
}
.home-icons[prefix="_homeIcons-mr-32"] > .title {
  font-size: var(--md-sys-admin-top-app-bar-font-size);
  font-weight: var(--md-sys-admin-top-app-bar-font-weight);
}
