.top-app-bar[prefix="_topAppbar-dw-31"] {
  width: 100%;
}

.top-app-bar[prefix="_topAppbar-dw-31"] > .layout {
  height: 74px;
  border-radius: 24px 24px 0 0;

  background: var(--md-sys-color-surface-container);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}
